/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px;   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800 + :        Big desktop

Breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: base + typography > general layout + grid > page layout > components

1em = 16px
*/
html {
  font-size: 100%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 87.5%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 112.5%; } }

html,
body {
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #6c6f73; }

h1, h2, h3, h4, h5 {
  color: #333; }

h2 {
  font-size: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    h2 {
      margin-bottom: 1.2rem; } }

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: .1rem; }
  @media only screen and (max-width: 56.25em) {
    h6 {
      margin-bottom: 1rem; } }

img {
  max-width: 100%; }

.blockquote {
  font-size: 2.5rem;
  color: #333;
  border: none;
  padding: 0; }

.blockquote-footer {
  font-size: 2rem;
  margin: 1.6rem 0 0; }
  @media only screen and (max-width: 56.25em) {
    .blockquote-footer {
      font-size: 1.4rem; } }

#stage {
  background: url("https://images.unsplash.com/photo-1499988921418-b7df40ff03f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b9b0bd8bc4bc9635191c7200f4e2be1d&auto=format&fit=crop&w=1350&q=80") center center no-repeat;
  background-size: cover;
  min-height: 30rem;
  height: 35%;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    #stage {
      min-height: 25rem; } }

#stage-caption {
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 40rem; }
  @media only screen and (max-width: 56.25em) {
    #stage-caption {
      padding: 4.5rem 4rem; } }

#stage-caption h1 {
  font-weight: bold;
  text-transform: uppercase; }

#stage-caption p {
  margin: 0; }

.feature-content {
  padding: 6rem 0;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .feature-content {
      padding: 4.5rem 3rem; } }

.feature-dark {
  background: #333; }

.feature-alt {
  background: #f0f0f0; }

#feature-four img {
  width: 100%; }

#feature-five img {
  margin-top: 2rem; }

#main-footer {
  background-color: #333;
  color: #fff;
  padding: 6rem 0;
  font-size: .8rem; }

#main-footer h6 {
  color: #718fa9; }

#main-footer a {
  color: #6c6f73; }

#main-footer a:hover {
  color: #b5b7b9; }

/* Media queries */
@media screen and (min-width: 991px) {
  .feature-content {
    display: flex;
    align-items: center; } }

@media screen and (min-width: 991px) {
  .feature-content {
    display: flex;
    align-items: center; } }
